<!DOCTYPE html>
<html>
<head>
	<title>Document</title>
</head>
<body>
	<div id="chat">
		<ul id="messages">
		<li v-for="message in messages">{{ message }}</li>
		</ul>
		<form v-on:submit="send">
			<input v-model="message">
			<button>Send</button>
		</form>
	</div>

	<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.2/socket.io.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.min.js"></script>
	<script>
		var socket = io();

		new Vue({
			//element binding
			el: '#chat',

			data: {
				//initialize messages into empty array
				messages: [],
				//initialize message into empty string
				message: ''
			},

			mounted: function() {
				//i want to listen for when we have a new text message that will accept the message that was sent from the server, and then update something
				socket.on('chat.message', function(message) {
					//push message to the array above
					this.messages.push(message);
				}.bind(this));
			},

			methods: {
				send: function(e){
					socket.emit('chat.message', this.message);

					this.message = '';

					e.preventDefault();
				}				
			}
		})
	</script>
</body>
</html>